@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-small: 0.8rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.5rem;

  --text-color-primary: #141414;
  --text-color-secondary: #ffffff;

  --background-color-primary: #141414;
  --background-color-secondary: #ffffff;

  --brand-white: #ffffff;
  --brand-black: #141414;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;
  --brand-color-primary: #ff4092;
  --brand-color-secondary: #8b98a9;

  --brand-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);

  --spacer: 4rem;

  --border-radius: 0.2rem;
}
